<footer class="text-white text-center" style="background-color: #343a40">
  <section id="contact" class="py-4">
    <div class="container">
      <p class="mb-3 small">
        <strong>Alamat:</strong> Jl Kresna Gang 2 No 1 RT 04 RW 06, Kejambon,
        Tegal Timur, Kota Tegal
      </p>

      <!-- Ikon-ikon horizontal di tengah -->
      <div class="d-flex justify-content-center gap-4 fs-5 custom-margin">
        <a href="https://wa.me/6285876132330" class="text-white" target="_blank"
          ><i class="bi bi-whatsapp"></i
        ></a>
        <a
          href="mailto:info@umkmcatering.com"
          class="text-white"
          target="_blank"
          ><i class="bi bi-envelope-fill"></i
        ></a>
        <a
          href="https://instagram.com/umkmcatering"
          class="text-white"
          target="_blank"
          ><i class="bi bi-instagram"></i
        ></a>
      </div>
    </div>
  </section>
</footer>
<style>
  footer a:hover {
    color: #fff700;
  }
</style>
