{% extends 'layouts/base.html' %}

{% block title %} Halaman Homepage {% endblock %}

{% block content %}

  <section class="py-5 bg-light">
    <div class="container">
      <h2 class="mb-4 text-center">Tentang Kami</h2>
      <p class="text-center mx-auto" style="max-width: 700px;">
        UMKM Catering berdiri sejak tahun 2015 dengan misi memberikan layanan catering berkualitas tinggi yang
        memprioritaskan rasa dan kepuasan pelanggan. Kami melayani berbagai jenis acara seperti ulang tahun, rapat,
        pesta pernikahan, dan acara perusahaan dengan profesionalisme dan dedikasi tinggi.
      </p>
    </div>
  </section>
{% endblock %}